.gridLineal {
  display: grid;
  grid-template-columns: repeat(3, 50%);
  grid-column-gap: 10px;
  width: 100%;
  overflow: hidden;
  height:100%;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.top20 {
  margin-top: 20px;
}

.vertical-center {
  display:grid;
  grid-template-rows: .3fr auto auto 100px 1fr;
  height:100%;
}

html, body, .container, .row {
  height: 100%;
}
